Repository Azure/azure-monitor-baseline-alerts, pull requests merged in 2024-09, with the labels that each got.

#319 Patch release 2024-09-02
  docs/content/patterns/alz/Whats-New.md
  docs/content/patterns/alz/media/PortalAccelerator/DeploymentSettings.png
  docs/content/patterns/alz/media/PortalAccelerator/MGSettings.png
  docs/content/patterns/alz/media/PortalAccelerator/NotificationSettings.png
Labels: documentation, Pattern: ALZ :helicopter:

#323 Ensure -WhatIf parameter is honored by all scripts commands and fix hybrid disconnected alert bug
  docs/content/patterns/alz/Cleaning-up-a-Deployment.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_from_release_2023-11-14.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_from_release_2024-03-01.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_from_release_2024-06-05.md
  patterns/alz/alzArm.param.json
  patterns/alz/policyDefinitions/policies-Hybrid.json
  patterns/alz/scripts/Remove-AMBADeployments.ps1
  patterns/alz/scripts/Remove-AMBANotificationAssets.ps1
  patterns/alz/scripts/Start-AMBACleanup.ps1
  patterns/alz/scripts/Start-AMBAOldArpCleanup.ps1
  patterns/alz/scripts/Start-AMBAPolicyInitiativesAndAssignmentsCleanup.ps1
  services/HybridCompute/machines/Deploy-Hybrid-VM-Disconnected-Alert.json
Labels: Pattern: ALZ :helicopter:, PR: Safe to test :test_tube:

#329 Updating documentation
  docs/content/patterns/alz/UpdateToNewReleases/Update_to_release_2024-03-01.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_to_release_2024-04-12.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_to_release_2024-06-05.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_to_release_2024-09-02.md
  docs/content/patterns/alz/UpdateToNewReleases/_index.md
  docs/content/patterns/alz/media/UpdatingToRelease.png
Labels: Pattern: ALZ :helicopter:

#297 Adding the timezone for Italy North region
  patterns/avd/avdArm.json
Labels: Pattern: AVD

#325 User story 36201: AMBA Update diagrams
  docs/content/patterns/alz/deploy/Introduction-to-deploying-the-ALZ-Pattern.md
  docs/content/patterns/alz/media/AMBA-Diagrams.vsdx
  docs/content/patterns/alz/media/alz-management-groups-single.png
  docs/content/patterns/alz/media/alz-management-groups-unaligned.png
  docs/content/patterns/alz/media/alz-management-groups.png
  docs/content/patterns/alz/media/azure-monitor-baseline-alerts-policy-initiative-flow.png
Labels: Pattern: ALZ :helicopter:

#338 Homepage Update _index.md
  docs/content/welcome/_index.md
Labels: documentation, AMBA Core

#341 Adding the remediation command for Recovery Services
  docs/content/patterns/alz/deploy/Remediate-Policies.md
Labels: documentation, Pattern: ALZ :helicopter:

#334 Alerts ASR Modify Policy
  patterns/alz/alzArm.param.json
  patterns/alz/policyDefinitions/policies-RecoveryServices.json
  patterns/alz/policyDefinitions/policySets.json
  patterns/alz/policySetDefinitions/Deploy-Management-Alerts.json
  patterns/alz/policySetDefinitions/Deploy-RecoveryServices-Alerts.json
  patterns/alz/templates/policies-RecoveryServices.bicep
  services/RecoveryServices/vaults/Modify-RSV-ASRHealth-Alert.json
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:, PR: Safe to test :test_tube:
