Repository Azure/azure-monitor-baseline-alerts, pull requests merged in 2024-06, with the labels that each got.

#239 Added new policies for ExpressRoute Ports to Connectivity table.
  docs/content/patterns/alz/Policy-Initiatives.md
Labels: documentation, Pattern: ALZ :helicopter:

#220 Fixed casing in metadata
  patterns/alz/policyDefinitions/policies.json
  services/Cdn/profiles/Deploy-CDNP-OriginHealthPercentage-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ApplicationGatewayTotalTime-Alert.json
  services/Network/applicationGateways/Deploy-AGW-BackendLastByteResponseTime-Alert.json
  services/Network/applicationGateways/Deploy-AGW-CPUUtil-Alert.json
  services/Network/applicationGateways/Deploy-AGW-CapacityUnits-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ComputeUnits-Alert.json
  services/Network/applicationGateways/Deploy-AGW-FailedRequests-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ResponseStatus-Alert.json
  services/Network/applicationGateways/Deploy-AGW-UnhealthyHostCount-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-BitsInPerSecond-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-BitsOutPerSecond-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-LineProtocol-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-RxLightLevelHigh-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-RxLightLevelLow-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-TxLightLevelHigh-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-TxLightLevelLow-Alert.json
  services/Network/frontdoors/Deploy-FD-BackendHealth-Alert.json
  services/Network/loadBalancers/Deploy-LB-DatapathAvailability-Alert.json
  services/Network/loadBalancers/Deploy-LB-GlobalBackendAvailability-Alert.json
  services/Network/loadBalancers/Deploy-LB-HealthProbeStatus-Alert.json
  services/Network/loadBalancers/Deploy-LB-UsedSNATPorts-Alert.json
  services/Network/trafficmanagerprofiles/Deploy-TM-EndpointHealth-Alert.json
  services/Web/serverFarms/Deploy-WSF-CPUPercentage-Alert.json
  services/Web/serverFarms/Deploy-WSF-MemoryPercentage-Alert.json
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:

#238 feat: fix casing in policies
  patterns/alz/policyDefinitions/policies.json
  patterns/alz/policySetDefinitions/Deploy-LandingZone-Alerts.json
  services/Cdn/profiles/Deploy-CDNP-OriginLatency-Alert.json
  services/Cdn/profiles/Deploy-CDNP-Percentage4XX-Alert.json
  services/Cdn/profiles/Deploy-CDNP-Percentage5XX-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-HeartBeat-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-HeartBeatAlertRG.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-NetworkIn-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-NetworkOut-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-PercentCPU-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-PercentMemory-Alert.json
  services/Network/frontDoors/Deploy-FD-BackendHealth-Alert.json
  services/Network/frontDoors/Deploy-FD-BackendRequestLatency-Alert.json
  services/Network/frontDoors/_index.md
  services/Network/frontDoors/alerts.yaml
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:

#236 Update alzArm.param.json to match documentation
  patterns/alz/alzArm.param.json
  patterns/alz/policyDefinitions/policies.json
  patterns/alz/policySetDefinitions/Deploy-HybridVM-Alerts.json
  patterns/alz/policySetDefinitions/Deploy-LandingZone-Alerts.json
Labels: Pattern: ALZ :helicopter:

#226 Azure front door monitoring pattern updates
  services/Network/frontDoors/_index.md
Labels: AMBA Core

#251 Update Release notes
  docs/content/patterns/alz/Telemetry.md
  docs/content/patterns/alz/Whats-New.md
Labels: documentation, Pattern: ALZ :helicopter:

#241 Update to documentation for June 2024 the 5th release
  docs/content/patterns/alz/Bring-your-own-Managed-Identity.md
  docs/content/patterns/alz/Bring-your-own-Notifications.md
  docs/content/patterns/alz/Policy-Initiatives.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_from_release_2023-11-14.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_from_release_2024-04-12.md
  docs/content/patterns/alz/UpdateToNewReleases/_index.md
  docs/content/patterns/alz/deploy/Deploy-only-Service-Health-Alerts.md
  docs/content/patterns/alz/deploy/Remediate-Policies.md
  docs/content/patterns/alz/deploy/parameterConfiguration.md
  docs/content/patterns/alz/media/BYON_Params.png
  docs/content/patterns/alz/media/BYON_Params_2.png
  docs/content/patterns/alz/media/BYON_Params_3.png
  docs/content/patterns/alz/media/NotificationAssets_Params.png
  docs/content/patterns/alz/media/NotificationAssets_Params_2.png
  docs/content/patterns/alz/media/alz-BYO-UAMI.png
  docs/content/patterns/alz/media/alz-ManagementSubscription.png
  docs/content/patterns/alz/media/alz-New-ParamterFile-Structure.png
  docs/content/patterns/alz/media/alz-UAMI-Default-Name.png
  docs/content/patterns/alz/media/alz-UAMI-Management-SubscriptionID.png
  docs/content/patterns/alz/media/alz-UAMI-Param-Example-1.png
  docs/content/patterns/alz/media/alz-UAMI-Param-Example-2.png
  docs/content/patterns/alz/media/deploy-HybridVM-Alerts.png
  patterns/alz/alzArm.param.json
Labels: Pattern: ALZ :helicopter:

#252 Resolve issue #237.
  docs/content/patterns/alz/Policy-Initiatives.md
  patterns/alz/policyDefinitions/policies.json
  patterns/alz/policySetDefinitions/Deploy-Connectivity-Alerts.json
  services/Network/expressRoutePorts/Deploy-ERP-RxLightLevelHigh-Alert.json
Labels: Pattern: ALZ :helicopter:
