Repository Azure/azure-monitor-baseline-alerts, pull requests merged in 2024-10, with the labels that each got.

#337 changed loop in AVD alerts
  patterns/avd/avdArm.json
  patterns/avd/templates/deploy.bicep
Labels: Pattern: AVD

#346 Update useCommonSchema to useCommonAlertSchema in `Deploy_ServiceHealth_ActionGroups` and `Deploy_Suppression_AlertProcessing_Rule` Policy Definitions
  patterns/alz/policyDefinitions/policies-Automation.json
  patterns/alz/policyDefinitions/policies-Compute.json
  patterns/alz/policyDefinitions/policies-Hybrid.json
  patterns/alz/policyDefinitions/policies-KeyManagement.json
  patterns/alz/policyDefinitions/policies-Monitoring.json
  patterns/alz/policyDefinitions/policies-Network.json
  patterns/alz/policyDefinitions/policies-NotificationAssets.json
  patterns/alz/policyDefinitions/policies-RecoveryServices.json
  patterns/alz/policyDefinitions/policies-ServiceHealth.json
  patterns/alz/policyDefinitions/policies-Storage.json
  patterns/alz/policyDefinitions/policies-Web.json
  patterns/alz/policyDefinitions/policySets.json
  services/AlertsManagement/actionRules/Deploy-AlertProcessingRule-Deploy.json
  services/Resources/subscriptions/Deploy-ServiceHealth-ActionGroups.json
Labels: bug, Area: Policy :pencil:, Pattern: ALZ :helicopter:, PR: Safe to test :test_tube:

#358 Remove GitHub Actions workflow for security compliance requirements
  .github/workflows/alz-update-policies.yml
Labels: Pattern: ALZ :helicopter:

#357 Resolve the ExpressRoute QoS remediation issue
  patterns/alz/policyDefinitions/policies-Network.json
  services/Network/expressRouteCircuits/Deploy-ERCIR-QOSDropsBitsIn-Alert.json
  services/Network/expressRouteCircuits/Deploy-ERCIR-QOSDropsBitsOut-Alert.json
Labels: bug, Area: Policy :pencil:, Pattern: ALZ :helicopter:

#352 Consolidate maintenance scripts
  docs/content/patterns/alz/Cleaning-up-a-Deployment.md
  docs/content/patterns/alz/Disabling-Policies.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_to_release_2024-03-01.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_to_release_2024-04-12.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_to_release_2024-06-05.md
  docs/content/patterns/alz/UpdateToNewReleases/Update_to_release_2024-09-02.md
  docs/content/patterns/alz/deploy/Remediate-Policies.md
  patterns/alz/scripts/Start-AMBA-ALZ-Maintenance.ps1
Labels: Pattern: ALZ :helicopter:, PR: Safe to test :test_tube:

#362 Standardization on param usage for failingPeriods and evaluationPeriods
  patterns/alz/alzArm.param.json
  patterns/alz/policyDefinitions/policies-Automation.json
  patterns/alz/policyDefinitions/policies-Compute.json
  patterns/alz/policyDefinitions/policies-Hybrid.json
  patterns/alz/policyDefinitions/policies-KeyManagement.json
  patterns/alz/policyDefinitions/policies-Monitoring.json
  patterns/alz/policyDefinitions/policies-Network.json
  patterns/alz/policyDefinitions/policies-NotificationAssets.json
  patterns/alz/policyDefinitions/policies-RecoveryServices.json
  patterns/alz/policyDefinitions/policies-ServiceHealth.json
  patterns/alz/policyDefinitions/policies-Storage.json
  patterns/alz/policyDefinitions/policies-Web.json
  patterns/alz/policyDefinitions/policySets.json
  patterns/alz/policySetDefinitions/Deploy-Connectivity-Alerts.json
  patterns/alz/policySetDefinitions/Deploy-LoadBalancing-Alerts.json
  patterns/alz/policySetDefinitions/Deploy-Web-Alerts.json
  services/Cdn/profiles/Deploy-CDNP-OriginLatency-Alert.json
  services/Cdn/profiles/Deploy-CDNP-Percentage4XX-Alert.json
  services/Cdn/profiles/Deploy-CDNP-Percentage5XX-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ApplicationGatewayTotalTime-Alert.json
  services/Network/applicationGateways/Deploy-AGW-BackendLastByteResponseTime-Alert.json
  services/Network/applicationGateways/Deploy-AGW-FailedRequests-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ResponseStatus-Alert.json
  services/Network/expressRouteCircuits/Deploy-ERCIR-QOSDropsBitsIn-Alert.json
  services/Network/expressRouteCircuits/Deploy-ERCIR-QOSDropsBitsOut-Alert.json
  services/Network/virtualNetworkGateways/Deploy-VNETG-EgressPacketDropCount-Alert.json
  services/Network/virtualNetworkGateways/Deploy-VNETG-EgressPacketDropMismatch-Alert.json
  services/Network/virtualNetworkGateways/Deploy-VNETG-IngressPacketDropCount-Alert.json
  services/Network/virtualNetworkGateways/Deploy-VNETG-IngressPacketDropMismatch-Alert.json
  services/Network/vpnGateways/Deploy-VPNG-EgressPacketDropCount-Alert.json
  services/Network/vpnGateways/Deploy-VPNG-EgressPacketDropMismatch-Alert.json
  services/Network/vpnGateways/Deploy-VPNG-IngressPacketDropCount-Alert.json
  services/Network/vpnGateways/Deploy-VPNG-IngressPacketDropMismatch-Alert.json
  services/Web/serverFarms/Deploy-WSF-DiskQueueLength-Alert.json
  services/Web/serverFarms/Deploy-WSF-HttpQueueLength-Alert.json
Labels: Pattern: ALZ :helicopter:, PR: Safe to test :test_tube:

#381 Bugged Connectivity policy initiative + override tag name case consistency + tag override documentation update
  docs/content/patterns/alz/Available_features/Log_Search_Alert_Table.md
  docs/content/patterns/alz/Available_features/Metrics_Alert_Table.md
  docs/content/patterns/alz/Available_features/Threshold-Override.md
  patterns/alz/policyDefinitions/policies-Automation.json
  patterns/alz/policyDefinitions/policies-Compute.json
  patterns/alz/policyDefinitions/policies-Hybrid.json
  patterns/alz/policyDefinitions/policies-Network.json
  patterns/alz/policySetDefinitions/Deploy-Connectivity-Alerts.json
  services/Automation/automationAccounts/Deploy-AA-TotalJob-Alert.json
  services/Cdn/profiles/Deploy-CDNP-OriginHealthPercentage-Alert.json
  services/Compute/virtualMachines/Deploy-VM-AvailableMemory-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskSpace-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-HeartBeat-Alert.json
  services/Compute/virtualMachines/Deploy-VM-NetworkIn-Alert.json
  services/Compute/virtualMachines/Deploy-VM-NetworkOut-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskSpace-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-PercentCPU-Alert.json
  services/Compute/virtualMachines/Deploy-VM-PercentMemory-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-Disconnected-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-HeartBeat-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-NetworkIn-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-NetworkOut-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-PercentCPU-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-PercentMemory-Alert.json
  services/Network/virtualNetworkGateways/Deploy-VNETG-BandwidthUtilization-Alert.json
Labels: bug, Pattern: ALZ :helicopter:

#386 Update to homepage - Enhanced E2E Customer Journey table
  docs/content/welcome/_index.md
Labels: enhancement, AMBA Core

#382 Fix ARM-ttk issue
  .github/actions-pester/Test-ArmTemplates.Tests.ps1
  .github/workflows/unit-test-arm-templates.yml
Labels: AMBA Core

#395 changed two AOAI alerts to visible with the proper thresholds
  services/CognitiveServices/accounts/alerts.yaml
Labels: Pattern: AI

#389 [GitHub Action - Generate Templates] Generate templates for alerts
  services/AVS/privateClouds/templates/arm/CPUCritical_bb83ae53-3b91-49ff-a351-9545ea747335.json
  services/AVS/privateClouds/templates/arm/CPU_282cb835-592b-4e49-89c1-ea1aaefb37c4.json
  services/AVS/privateClouds/templates/arm/MemoryCritical_a2f5e5a3-ec38-4201-970f-971ad4707b93.json
  services/AVS/privateClouds/templates/arm/Memory_e840c7a9-e070-4dc9-919b-c75a3679f6b7.json
  services/AVS/privateClouds/templates/arm/Storage_8bafb3d5-d961-49a4-9867-f1cddfd703e0.json
  services/AVS/privateClouds/templates/bicep/CPUCritical_bb83ae53-3b91-49ff-a351-9545ea747335.bicep
  services/AVS/privateClouds/templates/bicep/CPU_282cb835-592b-4e49-89c1-ea1aaefb37c4.bicep
  services/AVS/privateClouds/templates/bicep/MemoryCritical_a2f5e5a3-ec38-4201-970f-971ad4707b93.bicep
  services/AVS/privateClouds/templates/bicep/Memory_e840c7a9-e070-4dc9-919b-c75a3679f6b7.bicep
  services/AVS/privateClouds/templates/bicep/Storage_8bafb3d5-d961-49a4-9867-f1cddfd703e0.bicep
  services/CognitiveServices/accounts/templates/arm/AzureOpenAIContextTokensCacheMatchRate_81f8369c-65bf-4194-bfd2-ffdfa2470577.json
  services/CognitiveServices/accounts/templates/arm/AzureOpenAIProvisionedManagedUtilizationV2_693a3b37-1e2a-42d1-aaed-b1f374276d1c.json
  services/CognitiveServices/accounts/templates/arm/AzureOpenAITimeToResponse_995cc12a-1887-4669-92c5-70a6ca8bfe70.json
  services/CognitiveServices/accounts/templates/bicep/AzureOpenAIContextTokensCacheMatchRate_81f8369c-65bf-4194-bfd2-ffdfa2470577.bicep
  services/CognitiveServices/accounts/templates/bicep/AzureOpenAIProvisionedManagedUtilizationV2_693a3b37-1e2a-42d1-aaed-b1f374276d1c.bicep
  services/CognitiveServices/accounts/templates/bicep/AzureOpenAITimeToResponse_995cc12a-1887-4669-92c5-70a6ca8bfe70.bicep
  services/MachineLearningServices/workspaces/templates/arm/ModelDeployFailed_0337a76f-238e-4d4d-9cd1-48b205874dbb.json
  services/MachineLearningServices/workspaces/templates/arm/NotRespondingRuns_d3b80f22-9f1d-3038-86ff-c4dd5ba02d7a.json
  services/MachineLearningServices/workspaces/templates/arm/QuotaUtilizationPercentage_be3f1bfc-c21a-4399-9b9f-a33ebdc470cb.json
  services/MachineLearningServices/workspaces/templates/arm/UnusableNodes_a171bc0c-676f-464b-a7b5-e50cd6c612a2.json
  services/MachineLearningServices/workspaces/templates/bicep/ModelDeployFailed_0337a76f-238e-4d4d-9cd1-48b205874dbb.bicep
  services/MachineLearningServices/workspaces/templates/bicep/NotRespondingRuns_d3b80f22-9f1d-3038-86ff-c4dd5ba02d7a.bicep
  services/MachineLearningServices/workspaces/templates/bicep/QuotaUtilizationPercentage_be3f1bfc-c21a-4399-9b9f-a33ebdc470cb.bicep
  services/MachineLearningServices/workspaces/templates/bicep/UnusableNodes_a171bc0c-676f-464b-a7b5-e50cd6c612a2.bicep
  services/Search/searchServices/templates/arm/ActivityLogSearchServiceDelete_5611eb31-51c7-4279-ab8c-97dba0a2c044.json
  services/Search/searchServices/templates/bicep/ActivityLogSearchServiceDelete_5611eb31-51c7-4279-ab8c-97dba0a2c044.bicep
  services/StorageCache/AmlFilesystems/templates/arm/MDTBytesUsed_ebd68fdd-9672-43e8-b7d5-6e479210535d.json
  services/StorageCache/AmlFilesystems/templates/arm/MDTFilesAvailable_ecec6f93-af7e-4071-b35d-cd70b3f16581.json
  services/StorageCache/AmlFilesystems/templates/arm/MDTFilesFree_2feba8fd-ff1e-4f48-bc01-6e2996edafa6.json
  services/StorageCache/AmlFilesystems/templates/arm/MDTFilesUsed_48fc094d-8a00-4d3c-86d3-3230c7e5881a.json
  services/StorageCache/AmlFilesystems/templates/arm/OSTBytesAvailable_4eeca790-a804-4453-b339-73ea425610bc.json
  services/StorageCache/AmlFilesystems/templates/arm/OSTBytesUsed_59298086-ec77-4f47-b2ef-b853b79e31cb.json
  services/StorageCache/AmlFilesystems/templates/arm/OSTFilesFree_8f231351-c123-4e4c-8631-9978e641a3ca.json
  services/StorageCache/AmlFilesystems/templates/arm/OSTFilesUsed_9d086772-1887-4893-8b9f-7e5169398bae.json
  services/StorageCache/AmlFilesystems/templates/arm/Uptime_7f951991-c6ce-4c72-9f55-7eade2c4f57c.json
  services/StorageCache/AmlFilesystems/templates/bicep/MDTBytesUsed_ebd68fdd-9672-43e8-b7d5-6e479210535d.bicep
  services/StorageCache/AmlFilesystems/templates/bicep/MDTFilesAvailable_ecec6f93-af7e-4071-b35d-cd70b3f16581.bicep
  services/StorageCache/AmlFilesystems/templates/bicep/MDTFilesFree_2feba8fd-ff1e-4f48-bc01-6e2996edafa6.bicep
  services/StorageCache/AmlFilesystems/templates/bicep/MDTFilesUsed_48fc094d-8a00-4d3c-86d3-3230c7e5881a.bicep
  services/StorageCache/AmlFilesystems/templates/bicep/OSTBytesAvailable_4eeca790-a804-4453-b339-73ea425610bc.bicep
  services/StorageCache/AmlFilesystems/templates/bicep/OSTBytesUsed_59298086-ec77-4f47-b2ef-b853b79e31cb.bicep
  services/StorageCache/AmlFilesystems/templates/bicep/OSTFilesFree_8f231351-c123-4e4c-8631-9978e641a3ca.bicep
  services/StorageCache/AmlFilesystems/templates/bicep/OSTFilesUsed_9d086772-1887-4893-8b9f-7e5169398bae.bicep
  services/StorageCache/AmlFilesystems/templates/bicep/Uptime_7f951991-c6ce-4c72-9f55-7eade2c4f57c.bicep
Labels: AMBA Core
