Repository Azure/azure-monitor-baseline-alerts, pull requests merged in 2024-11, with the labels that each got.

#397 Update AI Pattern GPT-RAG alert page
  docs/content/patterns/artificial intelligence/_index.md
  docs/content/patterns/artificial intelligence/rag/_index.md
  docs/layouts/shortcodes/ragMetricAlerts.html
  services/CognitiveServices/accounts/alerts.yaml
  services/DocumentDB/databaseAccounts/alerts.yaml
  services/KeyVault/vaults/alerts.yaml
  services/Search/searchServices/alerts.yaml
  services/Storage/storageAccounts/alerts.yaml
  services/Web/sites/alerts.yaml
Labels: Pattern: AI

#400 Fix for log alerts policy remediation not working when ALZMonitorDisableTagName parameter value contains dashes
  patterns/alz/policyDefinitions/policies-Compute.json
  patterns/alz/policyDefinitions/policies-Hybrid.json
  patterns/alz/policyDefinitions/policies-Monitoring.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskSpace-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-HeartBeat-Alert.json
  services/Compute/virtualMachines/Deploy-VM-NetworkIn-Alert.json
  services/Compute/virtualMachines/Deploy-VM-NetworkOut-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskSpace-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-PercentCPU-Alert.json
  services/Compute/virtualMachines/Deploy-VM-PercentMemory-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-Disconnected-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-HeartBeat-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-NetworkIn-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-NetworkOut-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-PercentCPU-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-PercentMemory-Alert.json
  services/OperationalInsights/workspaces/Deploy-LAWorkspace-DailyCapLimitReached-Alert.json
Labels: Pattern: ALZ :helicopter:

#421 JCore-SpecWrkLoads-AVDAlerts-Fix deployment name length issues
  docs/content/patterns/specialized/avd/Whats-New.md
  docs/content/patterns/specialized/avd/_index.md
  patterns/avd/avdArm.json
  patterns/avd/templates/deploy.bicep
  patterns/avd/templates/modules/anfMetric.bicep
  patterns/avd/templates/modules/fileservicsmetric.bicep
Labels: Pattern: AVD

#422 Update visibility of metrics in Cognitive Services alerts configuration
  services/CognitiveServices/accounts/alerts.yaml
Labels: AMBA Core

#427 Update visibility of metrics in alerts configuration to false for alerts that are not configured properly
  services/Network/expressRouteCircuits/alerts.yaml
  services/Network/loadBalancers/alerts.yaml
Labels: AMBA Core

#429 Update alert description for ProbeAgentCurrentEndpointStateByProfileResourceId to remove quotes around "Enabled"
  services/Network/trafficmanagerprofiles/alerts.yaml
Labels: AMBA Core
