Repository Azure/azure-monitor-baseline-alerts, pull requests merged in 2024-08, with the labels that each got.

#299 Updated policy tab for individual alerts to utilize new templated policy generation process
  docs/layouts/partials/templates/template-tabs.html
Labels: AMBA Core

#310 Portal
  docs/content/patterns/alz/deploy/Deploy-via-Azure-Portal-UI.md
  patterns/alz/alz-portal.json
Labels: Pattern: ALZ :helicopter:, PR: Safe to test :test_tube:

#316 Fixed HybridDisconnected alert with the temporary workaround
  patterns/alz/policyDefinitions/policies-Automation.json
  patterns/alz/policyDefinitions/policies-Compute.json
  patterns/alz/policyDefinitions/policies-Hybrid.json
  patterns/alz/policyDefinitions/policies-KeyManagement.json
  patterns/alz/policyDefinitions/policies-Monitoring.json
  patterns/alz/policyDefinitions/policies-Network.json
  patterns/alz/policyDefinitions/policies-NotificationAssets.json
  patterns/alz/policyDefinitions/policies-RecoveryServices.json
  patterns/alz/policyDefinitions/policies-ServiceHealth.json
  patterns/alz/policyDefinitions/policies-Storage.json
  patterns/alz/policyDefinitions/policies-Web.json
  patterns/alz/policyDefinitions/policySets.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-Disconnected-Alert.json
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:
