Repository Azure/azure-monitor-baseline-alerts, pull requests merged in 2024-12, with the labels that each got.

#450 [GitHub Action - Generate Templates] Generate templates for alerts
  services/HybridCompute/machines/templates/arm/HybridMachineAvailableMemoryPercentage_67300599-c61e-48d2-b47d-979b2254d494.json
  services/HybridCompute/machines/templates/arm/HybridMachineDataDiskFreeSpacePercentageAlert_2030d931-6431-4134-9a03-106ebb83cb2d.json
  services/HybridCompute/machines/templates/arm/HybridMachineDataDiskReadLatencyAlert_6aff7331-001f-4ee6-b5d2-1fc43b18b7de.json
  services/HybridCompute/machines/templates/arm/HybridMachineDataDiskWriteLatencyAlert_c4226730-ae59-4607-bddc-03b91dad1c4b.json
  services/HybridCompute/machines/templates/arm/HybridMachineHeartbeatAlert_7ade7362-3df1-4ad2-a000-78fa7b3d9b27.json
  services/HybridCompute/machines/templates/arm/HybridMachineNetworkReadAlert_5e223d13-112e-4f84-82ba-e03a76f6350f.json
  services/HybridCompute/machines/templates/arm/HybridMachineNetworkWriteAlert_bb1969d8-eaa2-45b6-bd9f-09348b1ee346.json
  services/HybridCompute/machines/templates/arm/HybridMachineOSDiskFreeSpacePercentage_6a96dc94-674f-4a9c-830e-a0a4f7383646.json
  services/HybridCompute/machines/templates/arm/HybridMachineOSDiskReadLatencyAlert_4b62cf77-069b-42a3-9608-8cd585a640f1.json
  services/HybridCompute/machines/templates/arm/HybridMachineOSDiskWriteLatencyms_50ee79d0-a321-4217-8f5b-b096654ad1ce.json
  services/HybridCompute/machines/templates/arm/HybridMachineProcessorUtilizationPercentage_639014b8-0ac6-4ae1-a887-bb3979669287.json
  services/HybridCompute/machines/templates/bicep/HybridMachineAvailableMemoryPercentage_67300599-c61e-48d2-b47d-979b2254d494.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineDataDiskFreeSpacePercentageAlert_2030d931-6431-4134-9a03-106ebb83cb2d.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineDataDiskReadLatencyAlert_6aff7331-001f-4ee6-b5d2-1fc43b18b7de.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineDataDiskWriteLatencyAlert_c4226730-ae59-4607-bddc-03b91dad1c4b.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineHeartbeatAlert_7ade7362-3df1-4ad2-a000-78fa7b3d9b27.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineNetworkReadAlert_5e223d13-112e-4f84-82ba-e03a76f6350f.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineNetworkWriteAlert_bb1969d8-eaa2-45b6-bd9f-09348b1ee346.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineOSDiskFreeSpacePercentage_6a96dc94-674f-4a9c-830e-a0a4f7383646.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineOSDiskReadLatencyAlert_4b62cf77-069b-42a3-9608-8cd585a640f1.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineOSDiskWriteLatencyms_50ee79d0-a321-4217-8f5b-b096654ad1ce.bicep
  services/HybridCompute/machines/templates/bicep/HybridMachineProcessorUtilizationPercentage_639014b8-0ac6-4ae1-a887-bb3979669287.bicep
Labels: AMBA Core

#451 Updating broken links
  docs/content/patterns/alz/Getting-started/Policy-Initiatives.md
  docs/content/patterns/alz/HowTo/Cleaning-up-a-Deployment.md
  docs/content/patterns/alz/HowTo/Threshold-Override.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/Moving-from-preview-to-GA.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/Update_to_release_2024-03-01.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/Update_to_release_2024-04-12.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/Update_to_release_2024-06-05.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/Update_to_release_2024-09-02.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/Update_to_release_2024-11-01.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/_index.md
  docs/content/patterns/alz/HowTo/deploy/Introduction-to-deploying-the-ALZ-Pattern.md
  docs/content/patterns/alz/HowTo/deploy/_index.md
  docs/content/patterns/alz/Overview/ALZ-Pattern.md
  docs/content/patterns/alz/Resources/Known-Issues.md
Labels: Pattern: ALZ :helicopter:

#444 Adding "What's New" Section to AMBA
  docs/content/welcome/_index.md
Labels: AMBA Core

#452 Adds terraform-sync parameters
  patterns/alz/eslzArm.terraform-sync.param.json
Labels: Pattern: ALZ :helicopter:

#455 Property name case consistency and remediation script rename
  docs/content/patterns/alz/HowTo/Disabling-Policies.md
  docs/content/patterns/alz/HowTo/deploy/Remediate-Policies.md
  patterns/alz/policyDefinitions/policies-Network.json
  patterns/alz/policyDefinitions/policies-Web.json
  patterns/alz/scripts/Old scripts/Start-AMBARemediation.ps1
  patterns/alz/scripts/Start-AMBA-ALZ-Maintenance.ps1
  patterns/alz/scripts/Start-AMBA-ALZ-Remediation.ps1
  services/Cdn/profiles/Deploy-CDNP-OriginHealthPercentage-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ApplicationGatewayTotalTime-Alert.json
  services/Network/applicationGateways/Deploy-AGW-BackendLastByteResponseTime-Alert.json
  services/Network/applicationGateways/Deploy-AGW-CPUUtil-Alert.json
  services/Network/applicationGateways/Deploy-AGW-CapacityUnits-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ComputeUnits-Alert.json
  services/Network/applicationGateways/Deploy-AGW-FailedRequests-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ResponseStatus-Alert.json
  services/Network/applicationGateways/Deploy-AGW-UnhealthyHostCount-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-BitsInPerSecond-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-BitsOutPerSecond-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-LineProtocol-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-RxLightLevelLow-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-TxLightLevelHigh-Alert.json
  services/Network/expressRoutePorts/Deploy-ERP-TxLightLevelLow-Alert.json
  services/Network/loadBalancers/Deploy-LB-DatapathAvailability-Alert.json
  services/Network/loadBalancers/Deploy-LB-GlobalBackendAvailability-Alert.json
  services/Network/loadBalancers/Deploy-LB-HealthProbeStatus-Alert.json
  services/Network/loadBalancers/Deploy-LB-UsedSNATPorts-Alert.json
  services/Network/trafficmanagerprofiles/Deploy-TM-EndpointHealth-Alert.json
  services/Web/serverFarms/Deploy-WSF-CPUPercentage-Alert.json
  services/Web/serverFarms/Deploy-WSF-MemoryPercentage-Alert.json
Labels: Pattern: ALZ :helicopter:

#454 New release documentation for 2024-12-10
  docs/content/patterns/alz/HowTo/Bring-your-own-Managed-Identity.md
  docs/content/patterns/alz/HowTo/Bring-your-own-Notifications.md
  docs/content/patterns/alz/HowTo/Cleaning-up-a-Deployment.md
  docs/content/patterns/alz/HowTo/Telemetry.md
  docs/content/patterns/alz/HowTo/Threshold-Override.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/Update_to_release_2024_12_10.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/_index.md
  docs/content/patterns/alz/HowTo/deploy/Customize-Policy-Assignment.md
  docs/content/patterns/alz/HowTo/deploy/Deploy-only-Service-Health-Alerts.md
  docs/content/patterns/alz/HowTo/deploy/Deploy-with-Azure-CLI.md
  docs/content/patterns/alz/HowTo/deploy/Deploy-with-Azure-PowerShell.md
  docs/content/patterns/alz/HowTo/deploy/parameterConfiguration.md
  docs/content/patterns/alz/Overview/Whats-New.md
Labels: Pattern: ALZ :helicopter:

#465 Fix policyDefinitionId format
  patterns/alz/policyDefinitions/policies-Network.json
  patterns/alz/policyDefinitions/policies-ServiceHealth.json
  patterns/alz/policyDefinitions/policies-Web.json
  patterns/alz/policySetDefinitions/Deploy-ServiceHealth-Alerts.json
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:

#314 Add Application Insights alerts
  docs/content/patterns/alz/HowTo/Log_Search_Alert_Table.md
  docs/content/patterns/alz/HowTo/Metrics_Alert_Table.md
  patterns/alz/alzArm.json
  patterns/alz/alzArm.param.json
  patterns/alz/eslzArm.terraform-sync.param.json
  patterns/alz/policyDefinitions/policies-Automation.json
  patterns/alz/policyDefinitions/policies-Compute.json
  patterns/alz/policyDefinitions/policies-Hybrid.json
  patterns/alz/policyDefinitions/policies-KeyManagement.json
  patterns/alz/policyDefinitions/policies-Monitoring.json
  patterns/alz/policyDefinitions/policies-NotificationAssets.json
  patterns/alz/policyDefinitions/policies-RecoveryServices.json
  patterns/alz/policyDefinitions/policies-Storage.json
  patterns/alz/policyDefinitions/policies-Web.json
  patterns/alz/policyDefinitions/policySets.json
  patterns/alz/policySetDefinitions/Deploy-Web-Alerts.json
  patterns/alz/templates/policies-Web.bicep
  services/Insights/components/Deploy-ActivityLog-AppInsights-Del.json
  services/Insights/components/Deploy-AppInsightsThrottlingLimit-Alert.json
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:

#456 Adding Alert Processing Rule flexibility based on severity filters
  patterns/alz/alzArm.json
  patterns/alz/alzArm.param.json
  patterns/alz/eslzArm.terraform-sync.param.json
  patterns/alz/policyDefinitions/policies-Network.json
  patterns/alz/policyDefinitions/policies-NotificationAssets.json
  patterns/alz/policyDefinitions/policies-Web.json
  patterns/alz/policySetDefinitions/Deploy-Notification-Assets.json
  services/AlertsManagement/actionRules/Deploy-AlertProcessingRule-Deploy.json
  services/AlertsManagement/actionRules/Deploy-AlertProcessingRule-Suppression.json
Labels: Pattern: ALZ :helicopter:
