Repository Azure/azure-monitor-baseline-alerts, pull requests merged in 2024-07, with the labels that each got.

#227 Portal accelerator
  docs/content/patterns/alz/deploy/Deploy-via-Azure-Portal-UI.md
  docs/content/patterns/alz/media/PortalAccelerator/DeploymentSettings.png
  docs/content/patterns/alz/media/PortalAccelerator/MGSettings.png
  docs/content/patterns/alz/media/PortalAccelerator/NotificationSettings.png
  patterns/alz/alz-portal.json
  patterns/alz/alzArm.json
  patterns/alz/alzArm.param.json
  patterns/alz/policyDefinitions/policies.json
  patterns/alz/policySetDefinitions/Deploy-Notification-Assets.json
  patterns/alz/policySetDefinitions/Deploy-ServiceHealth-Alerts.json
  services/AlertsManagement/actionRules/Deploy-AlertProcessingRule-Deploy.json
  services/Resources/subscriptions/Deploy-ActivityLog-ResourceHealth-UnHealthly-Alert.json
  services/Resources/subscriptions/Deploy-ActivityLog-ServiceHealth-Health.json
  services/Resources/subscriptions/Deploy-ActivityLog-ServiceHealth-Incident.json
  services/Resources/subscriptions/Deploy-ActivityLog-ServiceHealth-Maintenance.json
  services/Resources/subscriptions/Deploy-ActivityLog-ServiceHealth-Security.json
  services/Resources/subscriptions/Deploy-ServiceHealth-ActionGroups.json
Labels: Area: Accelerator :zap:, Pattern: ALZ :helicopter:

#259 Alert for daily data capping limit reached for Log Analytics workspaces
  patterns/alz/alzArm.json
  patterns/alz/alzArm.param.json
  patterns/alz/policyAssignments/DINE-ManagementAssignment.json
  patterns/alz/policyDefinitions/policies.json
  patterns/alz/policyDefinitions/policiesHybrid.json
  patterns/alz/policySetDefinitions/Deploy-Management-Alerts.json
  patterns/alz/templates/policies.bicep
  services/Compute/virtualMachines/Deploy-VM-DataDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskSpace-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-HeartBeat-Alert.json
  services/Compute/virtualMachines/Deploy-VM-NetworkIn-Alert.json
  services/Compute/virtualMachines/Deploy-VM-NetworkOut-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskSpace-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-PercentCPU-Alert.json
  services/Compute/virtualMachines/Deploy-VM-PercentMemory-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-Disconnected-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-HeartBeat-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-NetworkIn-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-NetworkOut-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-PercentCPU-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-PercentMemory-Alert.json
  services/OperationalInsights/workspaces/Deploy-LAWorkspace-DailyCapLimitReached-Alert.json
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:

#258 Updated documentation
  docs/content/patterns/alz/Bring-your-own-Managed-Identity.md
  docs/content/patterns/alz/Known-Issues.md
Labels: documentation, Pattern: ALZ :helicopter:

#263 Fixing latency alert display name
  patterns/alz/alzArm.param.json
  patterns/alz/policyDefinitions/policies.json
  patterns/alz/policyDefinitions/policiesHybrid.json
  patterns/alz/policySetDefinitions/Deploy-LandingZone-Alerts.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskSpace-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskSpace-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-DataDiskWriteLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskReadLatency-Alert.json
  services/HybridCompute/machines/Deploy-Hybrid-VM-OSDiskWriteLatency-Alert.json
  services/OperationalInsights/workspaces/Deploy-LAWorkspace-DailyCapLimitReached-Alert.json
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:

#257 Feature/agw dynamic alerts
  patterns/alz/alzArm.param.json
  patterns/alz/policyDefinitions/policies.json
  patterns/alz/policySetDefinitions/Deploy-LandingZone-Alerts.json
  services/Network/applicationGateways/Deploy-AGW-ApplicationGatewayTotalTime-Alert.json
  services/Network/applicationGateways/Deploy-AGW-BackendLastByteResponseTime-Alert.json
  services/Network/applicationGateways/Deploy-AGW-FailedRequests-Alert.json
  services/Network/applicationGateways/Deploy-AGW-ResponseStatus-Alert.json
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:, Needs: Author Feedback

#217 Added/updated Compute/virtualMachines
  .gitignore
  patterns/alz/policyDefinitions/policies.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-DataDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskReadLatency-Alert.json
  services/Compute/virtualMachines/Deploy-VM-OSDiskWriteLatency-Alert.json
  services/Compute/virtualMachines/alerts.yaml
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:

#266 Networking Use case pattern for monitoring V1
  docs/content/patterns/networking/UseCases/_index.md
  docs/content/patterns/networking/_index.md
Labels: documentation, AMBA Core

#271 Added a GitHub Actions Workflow to generate ARM and Bicep templates
  .github/workflows/generate-templates.yml
  .github/workflows/hugo-build-pr-check.yml
  .github/workflows/hugo-site-build.yml
  docs/layouts/partials/templates/template-tabs.html
  tooling/generate-templates/generate-templates.py
  tooling/generate-templates/templates/arm/activity-administrative.json
  tooling/generate-templates/templates/arm/activity-resourcehealth.json
  tooling/generate-templates/templates/arm/activity-servicehealth.json
  tooling/generate-templates/templates/arm/log.json
  tooling/generate-templates/templates/arm/metric-dynamic.json
  tooling/generate-templates/templates/arm/metric-static.json
  tooling/generate-templates/templates/bicep/activity-administrative.bicep
  tooling/generate-templates/templates/bicep/activity-resourcehealth.bicep
  tooling/generate-templates/templates/bicep/activity-servicehealth.bicep
  tooling/generate-templates/templates/bicep/log.bicep
  tooling/generate-templates/templates/bicep/metric-dynamic.bicep
  tooling/generate-templates/templates/bicep/metric-static.bicep
Labels: AMBA Core

#276 Added param to drive cuaId usage when deployed from ALZ portal accele…
  patterns/alz/alzArm.json
  patterns/alz/policyDefinitions/policies.json
  patterns/alz/policyDefinitions/policiesHybrid.json
Labels: Pattern: ALZ :helicopter:

#283 Workflow to auto update ALZ policies
  .github/workflows/alz-update-policies.yml
Labels: Area: Policy :pencil:, Pattern: ALZ :helicopter:

#285 Updating documentation
  docs/content/patterns/alz/FAQ.md
  docs/content/patterns/alz/Known-Issues.md
  docs/content/patterns/alz/Monitoring-and-Alerting.md
  docs/content/patterns/alz/media/api-version_required.png
Labels: documentation, Pattern: ALZ :helicopter:, PR: Safe to test :test_tube:

#293 Dev alz patterrn docs
  docs/content/patterns/alz/Available_features/Bring-your-own-Managed-Identity.md
  docs/content/patterns/alz/Available_features/Bring-your-own-Notifications.md
  docs/content/patterns/alz/Available_features/Log_Search_Alert_Table.md
  docs/content/patterns/alz/Available_features/Metrics_Alert_Table.md
  docs/content/patterns/alz/Available_features/Threshold-Override.md
  docs/content/patterns/alz/Available_features/_index.md
  docs/content/patterns/alz/media/LogsearchAlerts-OverrideThresholdAtWork.png
  docs/content/patterns/alz/media/MetricAlerts-OverrideThresholdAtWork.png
Labels: documentation, Pattern: ALZ :helicopter:
