Repository Azure/azure-monitor-baseline-alerts, pull requests merged in 2025-02, with the labels that each got.

#519 New 2025-02-05 AMBA-ALZ release
  docs/content/patterns/alz/HowTo/Exclude-Logical-Volumes.md
  docs/content/patterns/alz/HowTo/UpdateToNewReleases/Update_to_release_2025-02-05.md
  docs/content/patterns/alz/HowTo/deploy/Customize-Policy-Assignment.md
  docs/content/patterns/alz/HowTo/deploy/Deploy-only-Service-Health-Alerts.md
  docs/content/patterns/alz/HowTo/deploy/Deploy-with-Azure-CLI.md
  docs/content/patterns/alz/HowTo/deploy/Deploy-with-Azure-Pipelines.md
  docs/content/patterns/alz/HowTo/deploy/Deploy-with-Azure-PowerShell.md
  docs/content/patterns/alz/HowTo/deploy/parameterConfiguration.md
  docs/content/patterns/alz/Overview/Whats-New.md
  docs/content/patterns/alz/media/Remove-Policy-And-Role-Assignments.png
Labels: Pattern: ALZ :helicopter:

#503 Fixes bug in `dimensions` property for metric & log alerts generation for Bicep templates
  tooling/generate-templates/generate-templates.py
  tooling/generate-templates/templates/bicep/log.bicep
  tooling/generate-templates/templates/bicep/metric-dynamic.bicep
  tooling/generate-templates/templates/bicep/metric-static.bicep
Labels: AMBA Core

#495 Add name policy attribute for metric alerts both static and dynamic
  tooling/generate-templates/policy/metric-dynamic-full-arm.json
  tooling/generate-templates/policy/metric-dynamic.json
  tooling/generate-templates/policy/metric-static-full-arm.json
  tooling/generate-templates/policy/metric-static.json
Labels: AMBA Core

#523 Adding LAW alerts to the Web policy initiative
  .github/PULL_REQUEST_TEMPLATE.md
  docs/content/patterns/alz/Getting-started/Policy-Initiatives.md
  docs/content/patterns/alz/HowTo/Bring-your-own-Managed-Identity.md
  docs/content/patterns/alz/media/Initiatives-Using-UAMI.png
  patterns/alz/alzArm.param.json
  patterns/alz/eslzArm.terraform-sync.param.json
  patterns/alz/policyDefinitions/policies-Web.json
  patterns/alz/policySetDefinitions/Deploy-Web-Alerts.json
Labels: Pattern: ALZ :helicopter:

#537 Update to FAQ page based on feedback
  docs/content/faq/_index.md
Labels: AMBA Core

#531 Issue with mandatory parameter Platform Management group, information about Security Advisories changes
  patterns/alz/alz-portal.json
Labels: Area: Accelerator :zap:, Pattern: ALZ :helicopter:

#520 Policy version check
  .github/actions-pester/Test-ModifiedPolicies.Tests.ps1
  .github/workflows/check-policy-build.yml
  .github/workflows/check-policy-version.yml
Labels: Pattern: ALZ :helicopter:

#539 Add documentation for InvalidPolicyParameterUpdate deployment error
  docs/content/patterns/alz/Resources/Known-Issues.md
Labels: Pattern: ALZ :helicopter:

#534 made changes to Severity inline with Oracle CAF monitoring
  docs/content/patterns/specialized/oracle/_index.md
  docs/content/patterns/specialized/oracle/oracle on azure iaas/_index.md
Labels: Pattern: Oracle
